html, body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Helvetica;
}

.container{
  display:grid;
  grid-template: repeat(7,1fr)/ repeat(4,1fr);
  width: 14%;
  height: 370px;
  justify-content: center;
}
.button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  transition: all .07s ease;

}
.display{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: rgb(73, 72, 72);
  color: white;
  font-size: xx-large;
  grid-column: 1/ span 4;
  padding-right: 7px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.95;
}
.botLeft{
  border-bottom-left-radius: 10px;
}
.botRight{
  border-bottom-right-radius: 10px;
}

.zero{
  grid-column: 1/ span 2;
}
.light{
  background-color: orange;
  color: white;
}
.light:active{
  opacity: 0.9;
}
.dark{
  background-color: gray;
  color: white;
  opacity: 0.8;
}
.dark:active{
  opacity: 0.7;
}
.xDark{
  background-color:  rgb(73, 72, 72);
  color: white;
  opacity: 0.85; 
}
.xDark:active{
  opacity: 0.75;
}
.clicked {
  transform: scale(1.05);
}
